# Class practice: strings, lists & numbers

These were copied and slightly modified from [Paul Waddell's Urban Informatics and Visualization](https://github.com/waddell/urban-informatics-and-visualization). All credit goes to him, all mistakes are mine.

## Exercises | String & List

### Reversing numbers

Write code that reverses even numbers from 0 to 100 (including 100) and print the result.

In [2]:
# Type your code here

### List manipulations

#### We have two lists, a and b, a=[10,20,30] b=[30,60,90]. Write code that give us the following outputs: [LIST]

a. [[10,20,30],[30,60,90]]

b. [10,20,30,30,60,90]

c. [10,20,60,90] (first two of a, last two of b)

d. [20,40,60] (the element-wise differences between b and a)

In [16]:
# Type your code here

### List insertions

**Write code that add the name "Norah" to the following list, after the name "Michael".**

Make sure your code continues to do the right thing if more names are added to the list, or if the list is reordered, or if you need to find Jessica instead of Michael (or anyone else on the list).

names: Akshara, Anna, Aqshems, Chester, Echo, James, Jessica, Matthew, Michael, Philip, Sarah

In [23]:
# Type your code here

### Maximizing a sum

** Find a list in the following list (G) whose sum of its elements is the highest.**

G = [[13,9,8], [14,6,12], [10,13,11], [7,18,9]]

In [23]:
# Type your code here

### Cars and brown trucks

Write code that prints all colors in the list and the word 'car', one per line, **unless** the color is brown, when you should print 'truck' instead:

```python
colors = ['red', 'black', 'gray', 'brown', 'blue', 'white']
```

In [8]:
# Type your code here

## Numbers

### Reversing numbers

Write a function nums_reversed that takes in an integer `n` and returns a string containing the numbers 1 through `n` including `n` in reverse order, separated
by spaces. For example:

    >>> nums_reversed(5)
    '5 4 3 2 1'

In [ ]:
# Type your code here

### Divisibility

Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5,
between 1000 and 1200 (both included).
The numbers obtained should be printed in a comma-separated sequence on a single line.

*Hint: * Consider using `range(#begin, #end)`.

In [ ]:
# Type your code here

Write the same program but this time use while loop instead of for loop

In [ ]:
# Type your code here

### Double trouble

Write a function `double100` that takes in a list of integers
and returns `True` only if the list has two `100`s next to each other.

    >>> double100([100, 2, 3, 100])
    False
    >>> double100([2, 3, 100, 100, 5])
    True

In [ ]:
# Type your code here